# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env

# Panda
styled-system
styled-system-static
/styled-system
/styled-system-static
styled-system/helpers.mjs
styled-system/reset.css
styled-system/css/conditions.mjs
styled-system/patterns/aspect-ratio.d.ts
styled-system/patterns/bleed.d.ts
styled-system/patterns/box.d.ts
styled-system/patterns/center.d.ts
styled-system/patterns/circle.d.ts
styled-system/patterns/container.d.ts
styled-system/patterns/divider.d.ts
styled-system/patterns/flex.d.ts
styled-system/patterns/float.d.ts
styled-system/patterns/grid-item.d.ts
styled-system/patterns/grid.d.ts
styled-system/patterns/hstack.d.ts
styled-system/patterns/link-box.d.ts
styled-system/patterns/link-overlay.d.ts
styled-system/patterns/spacer.d.ts
styled-system/patterns/square.d.ts
styled-system/patterns/stack.d.ts
styled-system/patterns/visually-hidden.d.ts
styled-system/patterns/vstack.d.ts
styled-system/patterns/wrap.d.ts
styled-system/types/composition.d.ts
styled-system/types/conditions.d.ts
styled-system/types/global.d.ts
styled-system/types/index.d.ts
styled-system/types/parts.d.ts
styled-system/types/pattern.d.ts
styled-system/types/prop-type.d.ts
styled-system/types/recipe.d.ts
styled-system/types/selectors.d.ts
styled-system/types/style-props.d.ts
styled-system/types/system-types.d.ts
